<section id="featured">
    <h2>Latest article</h2>
    <article>
        <h3>{{articleTitle}}</h3>
        <p>{{mostRecentEdit.content}}</p>
        <div class="controls">
            <a href="/getDetails?id={{mostRecentEdit.articleId}}">Read more</a>
        </div>
    </article>
</section>
<section id="recent">
    <h2>Recently added articles</h2>
    <ul>
        <li>
            <a href="article.html">Telescope</a>
        </li>
        <li>
            <a href="article.html">Planet</a>
        </li>
        <li>
            <a href="article.html">Galaxy</a>
        </li>
    </ul>
</section>